/* home component styles */
.container-hero {
    max-width: 1100px;
}

.card-glass {
    border-radius: 12px;
}

.btn-accent {
    @extend .btn !optional;
    border-radius: 8px;
}

.text-justify {
    text-align: justify;
}

.align-itemsto-center {
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
}