<section class="container container-hero">
    <h3>Work Experience</h3>
    <div class="row mt-3 g-3">
        <div class="col-12">
            <div class="card-glass p-4">
                <h4>Software Engineer</h4>
                <hr>
                <h6>GEP Solutions, Navi Mumbai | June 2021 - Present</h6>
                <p class="text-muted-soft text-justify">
                    Developed scalable audit solutions, including the Audit Delta Calculations
                    Service and Angular-based UI used by 400+ customers, integrating AI features to reduce manual effort
                    and improve efficiency. Optimized backend workflows with Kafka and Logstash, built reusable low-code
                    components, implemented Blue-Green Deployments for zero-downtime releases, and ensured
                    accessibility, monitoring, and system reliability, while mentoring juniors and collaborating with
                    stakeholders.
                </p>
            </div>
        </div>
    </div>

    <div class="row mt-3 g-3">
        <div class="col-md-6" *ngFor="let internship of internships">
            <div class="card-glass p-4 h-100">
                <h5>{{ internship.role }}</h5>
                <h6 class="text-muted-soft">{{ internship.organization }}</h6>
                <ul class="mt-3 text-muted-soft">
                    <li *ngFor="let i of internship.work">{{ i }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>